/* Main body */
body{
    text-align: center;
    font-family: arial;
    background-color: #ebedff;
}

ul {
    display:table;
    margin:0 auto;
    text-align: right;
}

  .col-10 {
      background: transparent;
      border: none;
      resize: none;
      color: #000000;
      border-left: 1px solid rgb(196, 194, 194);
      border-top: 1px solid rgb(196, 194, 194);
      border-bottom: 1px solid rgb(184, 184, 184);
      padding: 10px;
      white-space: pre-wrap;
  }
  
  .row {
    white-space: pre-wrap;
    height: 40px;
  }
  
  
  .rowBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    
  }
